<h2 id="title">Welcome to Ember D3 Charts</h2>

<div class="menu">
  {{#link-to 'linechart' class="menu-item"}}Line Chart{{/link-to}}
  {{#link-to 'bubblechart' class="menu-item"}}Bubble Chart{{/link-to}}
  {{#link-to 'barchart' class="menu-item"}}Bar Chart{{/link-to}}
  {{#link-to 'areachart' class="menu-item"}}Area Chart{{/link-to}}
  {{#link-to 'stackedareachart' class="menu-item"}}Stacked Area Chart{{/link-to}}
  {{#link-to 'stackedbarchart' class="menu-item"}}Stacked Bar Chart{{/link-to}}
  {{#link-to 'piechart' class="menu-item"}}Pie Chart{{/link-to}}
</div>

{{outlet}}
